html 
{
    font-family: 'Raleway', sans-serif;
}

header
{
    display: flex;
    justify-content: space-between;
}

#h1
{
    margin-left: -5px;
}

#p
{
    margin-bottom: 20px;
    margin-top: -15px;
}

#logo
{
   width: auto;
   height: auto;
   margin-top: 25px; 
   margin-left: -13px;
}

body
{
    margin: 0;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
    margin-top: 25px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 5px;
    text-decoration: none;
    padding: 10px;
}

nav a:hover
{
    color: #0065fc;
    border-top: 3px solid #0065FC;
}

.fa-map-marker-alt
{
    width: 12px;
    margin-right: -5px;
    padding: 9.5px 20px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: #F2F2F2 2px solid;
    vertical-align: middle;
}

/* Section */

#bouton
{
    padding: 10px 24px;
    margin-right: -5px;
    border: #f2f2f2 2px solid;
}

#recherche
{
    background-color:#0065FC;
    color: white;
    padding: 9px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;    
}

/* Filtre */

#filtre
{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
}

h2
{
    margin-right: 60px;
}

.signe
{
    border: #d9d9d9 2px solid;
    border-radius: 20px;
    margin-right: 50px;
    padding-left: 10px;
    cursor: pointer;
    
}

.ecriture
{
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-money-bill-wave
{
    color:#0065FC;
    width: 20px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-child
{
    color:#0065FC;
    width: 15px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-heart
{
    color:#0065FC;
    width: 15px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-dog
{
    color:#0065FC;
    width: 20px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-info
{
    color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: -6px;
    float: left;
    margin-right: 10px;
    border: gray 1px solid;
    border-radius: 30px;
    height: 5px;
    width: 5px;
}

#info
{
    margin-bottom: 30px;
}

/* Hébergements */

#hébergement
{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}

.aff
{
    margin-left: 10px;
}

.verticale
{
    display: flex;
    flex-direction: row;
}

.logement
{
    width: 250px;
    height: 140px;
    margin-bottom: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#etoile
{
    color: gray;
}

.fa-star
{
    color:#0065FC;
    margin-bottom: 30px;
}

.jour
{
    margin-left: 10px;
    margin-bottom: -20px;
    margin-top: -10px;
}

.matin
{
    margin-left: 10px;
}

.texte
{
    background-color: white;
    padding: 3px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.nuit
{
    margin-top: -20px;
    margin-left: 10px;
}

/* Aside */

#graphique
{
    width: 30px;
}

#grap
{
    display: flex;
    justify-content: space-between;
}

.section
{
    display: flex;
}

aside
{
    margin-left: 50px;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}

.plus
{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 3px;
    margin-right: 80px;
    cursor: pointer;
}

.populaire
{
    height: 140px;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.haut
{
    margin-top: -15px;
}

.milieu
{
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: 30px;
}

.basse
{
    margin-left: 10px;
    margin-bottom: -20px;
    margin-top: 50px;
}

/* Activité */

#act
{
    margin-top: 80px;
    margin-bottom: 30px;
}

.Marseille
{
    display: flex;
    flex-direction: row;
}

.photo
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px 0px gray;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    cursor: pointer;
}

.photo2
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px 0px gray;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 60px; 
    cursor: pointer; 
}

.activité1
{
    position: relative;
    width: 350px;
    height: 474px; 
    margin-bottom: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activité2
{
    position: relative;
    width: 350px;
    height: 200px;
    margin-bottom: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activité3
{
    position: relative;
 width: 350px;
 height: 150px;
 margin-bottom: -20px;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px; 
}

.nom
{
    margin-top: 30px;
    margin-left: 10px;
}


/* Footer */

#footer
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 50px;
    padding-bottom: 20px;
    justify-content: space-around;
}

.fonction
{
    margin-bottom: -12px;
}