@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800&display=swap');

html 
{
    font-family: 'Raleway', sans-serif;
}

header
{
    display: flex;
}

.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
}

.subscrite
{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 25px; 
}

#h1
{
    margin-left: -5px;
}

#p
{
    margin-bottom: 20px;
    margin-top: -15px;
}

#logo
{
   width: auto;
   height: auto;
   margin-top: 25px; 
}

body
{
    margin: 0;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
    margin-top: 25px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 5px;
    text-decoration: none;
    padding: 10px;
}

nav a:hover
{
    color: #0065fc;
    border-top: 3px solid #0065FC;
}

.fa-map-marker-alt
{
    width: 12px;
    margin-right: -5px;
    padding: 9.5px 20px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: #F2F2F2 2px solid;
    vertical-align: middle;
}

/* Section */

#bouton
{
    padding: 10px 30px;
    margin-right: -5px;
    border: #f2f2f2 2px solid;
    font-weight: bold;
    font-size: 13px;
}

#recherche
{
    background-color:#0065FC;
    color: white;
    padding: 11.3px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; 
    cursor: pointer;  
    border: none; 
}

/* Filtre */

#filtre
{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
}

#test
{
    display: flex;
}

h2
{
    margin-right: 60px;
}

.signe
{
    border: #d9d9d9 2px solid;
    border-radius: 20px;
    margin-right: 50px;
    padding-left: 10px;
    cursor: pointer;
    
}

.ecriture
{
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-money-bill-wave
{
    color:#0065FC;
    width: 20px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-child
{
    color:#0065FC;
    width: 15px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-heart
{
    color:#0065FC;
    width: 15px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-dog
{
    color:#0065FC;
    width: 20px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    background-color: #deebff;
    border-radius: 30px;
    padding: 12px;
    margin-top: -11px;
    margin-bottom: -10px;
    margin-left: -18px;
}

.fa-info:before
{
    display: flex;
    font-size: 13px;
    justify-content: center;
    padding: 6px;
}

.fa-info
{
    color:#0065FC;
    border: #f2f2f2 2px solid;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

#info
{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Hébergements */

#hébergement
{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}

.aff
{
    margin-left: 10px;
}

.verticale
{
    display: flex;
    flex-direction: row;
}

.logement
{
    width: 100%;
    height: 140px;
    margin-bottom: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#etoile
{
    color: gray;
}

.fa-star
{
    color:#0065FC;
    margin-bottom: 30px;
}

.jour
{
    margin-left: 10px;
    margin-bottom: -20px;
    margin-top: -10px;
}

.matin
{
    margin-left: 10px;
}

.texte
{
    background-color: white;
    padding: 3px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.nuit
{
    margin-top: -20px;
    margin-left: 10px;
}

/* Aside */

#graphique
{
    width: 30px;
}

#grap
{
    display: flex;
    justify-content: space-between;
}

.section
{
    display: flex;
}

aside
{
    margin-left: 50px;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
}

.plus
{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;
}

.populaire
{
    height: 140px;
    width: 44%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.haut
{
    margin-top: -10px;
}

.milieu
{
    margin-left: 10px;
    margin-bottom: -16px;
}

.basse
{
    margin-left: 10px;
    margin-bottom: -20px;
    margin-top: 50px;
}

/* Activité */

#act
{
    margin-top: 80px;
    margin-bottom: 30px;
}

.Marseille
{
    display: flex;
    flex-direction: row;
}

.photo
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px 0px gray;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: auto;
    cursor: pointer;
}

.photo2
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px 0px gray;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 50px; 
    cursor: pointer; 
}

.photo3
{
    margin-left: 30px;
    margin-right: 30px;
}

.activité1
{
    position: relative;
    width: 100%;
    height: 420px; 
    margin-bottom: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.activité2
{
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activité3
{
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover; 
}

.nom
{
    padding: 10px;
    margin-bottom: auto;
    margin-left: 10px;
}


/* Footer */

#footer
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 50px;
    padding-bottom: 20px;
    justify-content: space-around;
}

.fonction
{
    margin-bottom: -12px;
}

@media all and (max-width: 1024px)
{   

    header
    {
        display: flex;
        flex-wrap: wrap;
    }

    .section
    {
        flex-direction: column;
    }

    #devant
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;    
    }

    nav a:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top: none; 
    }

    .nav
    {
        display: flex;
        flex-direction: column;
        order: 3;
        margin: auto;
    }

    .subscrite
    {
        display: flex;
        order: 2;
        margin-left: 200px;
    }

    #logo
    {
        display: flex;
        order: 1;
    }

    .logement
    {
        height: 110px;
    }

    .photo3
    {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .photo2
    {
        margin-bottom: 30px;
    }

    .activité1
    {
        height: 170px;
    }

    .activité2
    {
        height: 170px;
    }

    .activité3
    {
        height: 170px;
    }

    #test
    {
        flex-direction: column;
    }

    #filtre
    {
        flex-wrap: wrap;
    }

    aside
    {
        flex-direction: column;
        display: flex;
        order: -1;
        margin: auto;
        margin-bottom: 30px;
    }

    #hébergement
    {
        flex-direction: column;
        background-color: white;
    }

    .verticale
    {
        flex-direction: column;
    }

    .texte
    {
        box-shadow: gray 0px 0px 10px 0px;
    }

    .Marseille
    {
        flex-direction: column;
        align-items: center; 
    }

    #footer
    {
        flex-direction: column;
        margin-top: 20px;

    }

    .assistance
    {
        margin-top: 30px;
        margin-left: 30px;
    }

}